body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:180px;
  width:1349px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:294px;
  top:210px;
  width:160px;
  height:72px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:72px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:564px;
  top:201px;
  width:160px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u4_ann {
  position:absolute;
  left:717px;
  top:197px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:834px;
  top:210px;
  width:160px;
  height:72px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:72px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:192px;
  top:90px;
  width:903px;
  height:57px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:57px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:454px;
  top:241px;
  width:110px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u11 {
  position:absolute;
  left:724px;
  top:241px;
  width:110px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:340px;
  top:0px;
  width:60px;
  height:50px;
  opacity:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:670px;
  width:1330px;
  height:2364px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:2364px;
}
#u17 {
  position:absolute;
  left:2px;
  top:1174px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1190px;
  top:60px;
  width:90px;
  height:90px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1202px;
  top:160px;
  width:67px;
  height:14px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-size:12px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:448px;
  top:319px;
  width:391px;
  height:219px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:219px;
}
#u23 {
  position:absolute;
  left:2px;
  top:102px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:560px;
  top:579px;
  width:166px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:420px;
  top:579px;
  width:100px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
