body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:7252px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:7252px;
}
#u1 {
  position:absolute;
  left:2px;
  top:3618px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
